.imgview{
  height: 80px;
  width: 80px;
  border-radius: 50px;
}

tr{
  padding-top: 30px;
}

td,th{
  padding-right:  100px;
}

.divview{
  border: 2px solid #efefef;
  height: calc(90vh);
}

.logoview{
  margin-left: calc(4vw);
}

.tagsize{
  font-size: 15px;
  font-weight: bold;
}

.borderview{
  border: 2px solid #efefef;
  padding: 10px;
  margin: 5px;
}

.hideslider{
  display: none;
}
