.divview{
  border: 2px solid #efefef;
  height: calc(90vh);
}

.slideview{
  margin-top: 20px;
}

.tagsize{
  font-size: 15px;
  font-weight: bold;
}

.borderview{
  border: 2px solid #efefef;
  padding: 10px;
  margin: 5px;
}

.logoview{
  margin-left: calc(4vw);
}

.listview{
  margin-top: 15px;
}

input{
  border: 0px;
  border-bottom: 2px solid #efefef;
  margin-bottom: 5px;
}

.hideslider{
  display: none;
}
